/* ============================================
   MAIN STYLESHEET
   ============================================ */

/* Import all component files */
@import 'css/variables.css';
@import 'css/base.css';
@import 'css/layout.css';
@import 'css/header.css';
@import 'css/components.css';
@import 'css/form.css';
@import 'css/messages.css';
@import 'css/footer.css';
@import 'css/animations.css';
@import 'css/utilities.css';
@import 'css/custom_tasks.css';